body {
  background-color: #F9FAFF;
  color: $default;
  @extend %rubik;
  font-size: 20px;
  line-height: 1.5;
}

button,
a {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.section {
  padding: 60px 0;
}

.title {
  color: $darkBlue-900;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.3;
}