$assent: #FF6838;
$default:#31352B;
$title: #363853;

$orange-900: #ff6838;
$silver-200: #ececec;
$gray: #c2c2c2;
$darkBlue-900: #363853;
$dark: #31352b;
$silver: #f9faff;

%rubik {
  font-family: 'Rubik-Regular', 'Tahoma';
  font-weight: 400;
}

%opensans {
  font-family: 'OpenSans-Regular', 'Tahoma';
  font-weight: 400;
}