
$default:#31352B;
$title: #363853;

$orange-900: #ff6838;
$silver-200: #ececec;
$gray: #c2c2c2;
$darkBlue-900: #363853;
$dark: #31352b;
$silver: #f9faff;

%rubik-400 {
  font-family: 'Rubik-Regular', 'Tahoma';
  font-weight: 400;
}
%rubik-500 {
  font-family: 'Rubik-Medium', 'Tahoma';
  font-weight: 500;
}
%rubik-600 {
  font-family: 'Rubik-Bold', 'Tahoma';
  font-weight: 600;
}
%rubik-italic{
    font-family: 'Rubik-Italic', 'Tahoma';
    font-weight: 400;
}

%opensans-400 {
  font-family: 'OpenSans-Regular', 'Tahoma';
  font-weight: 400;
}
%opensans-500 {
  font-family: 'OpenSans-Medium', 'Tahoma';
  font-weight: 500;
}