$assent: #FF6838;
$default:#31352B;
$title: #363853;

%rubik-400 {
  font-family: 'Rubik-Regular', 'Tahoma';
  font-weight: 400;
}

%rubik-italic {
  font-family: 'Rubik-italic', 'Tahoma';
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium', 'Tahoma';
  font-weight: 500;
}

%rubik-300 {
  font-family: 'Rubik-Light', 'Tahoma';
  font-weight: 300;
}

%rubik-700 {
  font-family: 'Rubik-Bold', 'Tahoma';
  font-weight: 700;
}

%opensans-400 {
  font-family: 'OpenSans-Regular', 'Tahoma';
  font-weight: 400;
}

%opensans-600 {
  font-family: 'OpenSans-SemiBold', 'Tahoma';
  font-weight: 600;
}

%opensans-700 {
  font-family: 'OpenSans-Bold', 'Tahoma';
  font-weight: 700;
}